*{
    margin: 0%;
    padding: 0%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --amarelo: #ffde59;
    --vermelho: #ff3131;
    --verde: #00bf63;
    --placeholder: #a6a6a6;
}

menu {
    display: none;
}

.open{
    display: block;
}

menu{
    z-index: 1;
    display: none;
    position: absolute;
    top: 0px;
    background-image: radial-gradient(circle, #1F1F1F, #1F1F1F);
    width: 66.66%;
    height: 100vh;
}